{% extends 'entrance_model.html' %}
{% load static %}

{% block head %}
    <title>virRPG - trocar de senha</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/cp.css' %}">
{% endblock %}

{% block body %}
	<section class="area-cp">

        <div class="cp-body">

            <h1>mudar senha</h1>

            <form name="form-users" id="formUsers" method="post" action="/store_change_password/">

                {% csrf_token %}

                {% if msg %}
                    <p class="{{id}}">{{msg}}</p>
                {% endif %}

                <input type="password" name="password" placeholder="nova senha" autofocus required></label>
                <input type="password" name="c_password" placeholder="repita a senha" required></label>

                <input type="submit" value="enviar" id="submit">

            </form>

        </div>

    </section>
{% endblock %}