{% extends 'main_model.html' %}
{% load static %}

	{% block head %}
	<title>virRPG - campanhas</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/campaigns.css' %}">
	<style type="text/css">
		.main-top {
			display: flex;
			justify-content: space-around;
		}

		.main-top button {
			border-radius: 5px;
			padding: 0.3rem;
			background-color: #00ff3e;
			transition: 0.5s;
		}

		.main-top button:hover {
			cursor: pointer;
			background-color: #7cff9c;
		}

		.main-top input {
			width: 80vh;
			padding: 0.5rem;
		}

		.search-form {
			display: flex;
		}

		.search-btn {
			display: flex;
			align-items: center;
			border: solid black 1px;
			border-left: none;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
			text-align: center;
			background-color: yellow;
			transition: 0.5s;
		}

		.search-btn:hover {
			cursor: pointer;
			background-color: #ffff78;
		}

		.campaigns {
			margin-top: 2rem;
		}

		.campaign-view {
			display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    margin: 3%;
		    padding: 10px;
		    border: solid black 1px;
		    border-radius: 5px;
		}

		.campaign-view .campaign a {
			text-decoration: none;
			color: #000000;
		}

		.campaign, .campaign_del {
			margin-left: 1rem;
			margin-right: 1rem;
		}

		.campaign:hover, .campaign_del:hover{
			cursor: pointer;
		}

		.campaign a:hover {
			color: #00ff3e;
		}

		.campaign-options {
			display: flex;
		    align-items: center;
		}

		.campaign_del a {
			text-decoration: none;
			color: black;
		}

		.campaign_del:hover a {
			color: #ff0000;
		}

		.campaign_edit a {
			text-decoration: none;
			cursor: pointer;
			color: black;
		}

		.campaign_edit a:hover {
			color: orange;
		}

		.paginator {
		    display: flex;
		    justify-content: center;
		    position: absolute;
		    top: 95vh;
		    right: 25%;
		    left: 25%;
		}

		.paginator nav {
			display: flex;
		}

		.paginator nav a {
			text-decoration: none;
		}

		.paginator nav p {
			margin: 0 1rem;
		}

		.paginator-a-y {
			color: #00ff3e;
			cursor: pointer;
		}

		.paginator-a-n {
			color: grey;
		}

		@media screen and (max-width: 650px) {
			.main-top {		
				display: flex;
		    	flex-direction: column;
		    	height: 5rem;
		    	justify-content: space-between;
			}

			.paginator {
				right: 10%;
				left: 10%;
				top: 85vh;
			}

			.character-view {
				margin: 7% 0;
			}

			.menu {
				top: 7%;
			}
		}
	</style>
	{% endblock %}

	{% block main %}
	<div class="popup-wrapper" id="popup-wrapper">
		<div class="popup">
			<div class="popup-close" id="popup-close">x</div>
			<div class="popup-content">
				<form method="POST">
					{% csrf_token %}
					<label class="popup-content-label" id="popup-content-label">Insira o nome da nova campanha</label>
					<input type="text" class="popup-content-input" name="name" required="" id="id_name" maxlength="50">
					<div class="popup-content-operacoes">
						<input type="submit" class="popup-content-button" id="popup-content-button" name="criar">
					</div>
				</form>
			</div>
		</div>
	</div>

	<main class="container">
		<div class="main-top">
			<button type="button" id="new_person">+ nova campanha</button>
			<script type="text/javascript">
				const button_new = document.getElementById("new_person");
				const popup = document.getElementById("popup-wrapper");
				const button_create = document.getElementById("popup-content-button");
				const popup_input = document.getElementById("popup-content-input");

				button_new.addEventListener("click", ()=> {
					 popup.style.display = 'block';
				});

				popup.addEventListener("click", ()=> {
					const clickedClassName = event.target.classList[0];
					const classNames = ['popup-close', 'popup-wrapper', 'popup-content-button']
					const closePopup = classNames.some(className => className === clickedClassName);

					if(closePopup) {
						popup.style.display = 'none';
					}
				});
			</script>
			<form method="GET" id="search-form" class="search-form">
				<input type="search" name="search">
				<i id="search-btn" class="search-btn">pesquisar</i>
			</form>
			<script type="text/javascript">
				const searchButton = document.getElementById("search-btn")
				const searchForm = document.getElementById("search-form")

				searchButton.addEventListener("click", ()=> {
					searchForm.submit();
				})
			</script>
		</div>

		<div class="campaigns">
			<ul>
				{% for campaign in campaigns %}
				
				<li class="campaign-view">
					<span class="campaign"><a href="{{campaign.id}}/characters/">{{campaign.name}}</a></span>

					{% if campaign.admin == request.user or request.user.is_staff %}
					<div class="campaign-options">
						<span class="campaign_edit"><a class="edit" href="{{campaign.id}}/edit">editar</a></span>
						<span class="campaign_del"><a class="delete" id="id_{{campaign.id}}">excluir</a></span>
					</div>
					{% endif %}
				</li>

				{% endfor %}
				
			</ul>

			<script type="text/javascript">
				const del = document.querySelectorAll('.delete')

				del.forEach((item)=> {
					item.addEventListener("click", ()=> {
						let link = item.id
						link = link.split('_')
						link = '../campaigns/' + link[1] + '/delete'

						let conf = confirm('Quer deletar essa campanha?')

						if (conf) {
							window.location.href = link
						}
					})
				})
			</script>
		</div>

		<div class="paginator">
			<nav>
				<a {% if campaigns.has_previous %} href="?page={{campaigns.previous_page_number}}"class="paginator-a-y"{% else %} class="paginator-a-n"{% endif %}>anterior</a>
				<p>{{campaigns.number}} de {{campaigns.paginator.num_pages}}</p>
				<a {% if campaigns.has_next %} href="?page={{campaigns.next_page_number}}"class="paginator-a-y"{% else %} class="paginator-a-n"{% endif %}>próximo</a>
			</nav>
		</div>
	</main>
	{% endblock %}